.wave {
  position: relative;
  height: 70px;
  width: 100%;
  background: -o-linear-gradient(to bottom,rgb(12, 0, 34) 0%,rgb(12, 0, 100) 100%);
  background: -moz-linear-gradient(to bottom,rgb(12, 0, 34) 0%,rgb(12, 0, 100) 100%);
  background: -webkit-linear-gradient(to bottom,rgb(12, 0, 34) 0%,rgb(12, 0, 100) 100%);
  background: linear-gradient(to bottom,rgb(12, 0, 34) 0%,rgb(12, 0, 100) 100%);
}

.wave:before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 49%;
  width: 56%;
  height: 100%;
  background-color: white;
  right: 0;
  top: 49.5px;
}

.wave:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 49%;
  width: 56%;
  height: 100%;
  background: -o-linear-gradient(to bottom,rgb(12, 0, 53) 0%,rgb(12, 0, 114) 100%);
  background: -moz-linear-gradient(to bottom,rgb(12, 0, 53) 0%,rgb(12, 0, 114) 100%);
  background: -webkit-linear-gradient(to bottom,rgb(12, 0, 53) 0%,rgb(12, 0, 114) 100%);
  background: linear-gradient(to bottom,rgb(12, 0, 53) 0%,rgb(12, 0, 114) 100%);
  left: 0;
  top: 22px;
}
