@import "../../styles.scss";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:host{
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
}
.landing-page{
    display: flex;
    height: 100%;
    background-image: url("../../assets/img/tempHead.jpg");
    background-size: cover;
    overflow:auto;
    z-index: 10;
    align-items: center;
    justify-content: center;
    

    .title{
        text-align: center;
        color: white;
        
        z-index: 2;
    }
}
.wave{
    margin-bottom: 50px;
}   