*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:host{
    width: 100%;
    height: 100%;
}
.footer-container{
    margin-top: 20px;
    display: flex;
    background-color: orange;
    color: white;
    height: 100px;
    align-items: center;
    justify-content: center;
    
}