@import "../../styles.scss";

:host {
   
   margin: 0;
   padding: 0;
   
}
.courses-container{
   min-height: 100vh;
}
.courses-container {
   display: flex;
   flex-direction: column;
   
}
.description {
   font-family: 'Quicksand';
   font-size: 40px;
   
}

#courses-heading {
   margin-bottom: 20px;
}

.courses{
   display: flex;
   flex-direction: row;
   align-self:flex-start;
   justify-content: center;

   width: 60%;
   box-shadow: 5px 5px 10px $color-purple;
   border-radius: 5px;
   height: 100px;
   margin-bottom: 20px;

   .inhoud {
      display:flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      
      .iconify {
         margin: auto 30px;
         height: 70px;
         min-width: 70px;
      }

      
   }
}

.courses:hover {
   opacity: 0.8;
}



.courses:nth-child(even) {
   align-self: flex-end;
   box-shadow: 5px 5px 10px $color-orange;

   

   .inhoud {
      flex-direction: row-reverse;
   }
}



@media only screen and (max-width: 600px) {

   .courses{
      align-self:center;
      
      .inhoud {
         align-content: center;

      .description {
         font-size: 25px;
      }

      .iconify {
         margin: auto 10px;
         height: 50px;
         min-width: 50px;
      }
   }
   }
   
   .courses:nth-child(even) {
      align-self: center;
      box-shadow: 5px 5px 10px $color-orange;
   
      .inhoud {
         flex-direction: row-reverse;
      }
      
   }
}

@media only screen and (max-width: 370px) {
   
   .courses {
      height: 50px;
      .inhoud {
         

      .description {
         font-size: 20px;
      }
      .iconify {
         margin: auto 5px;
         height: 30px;
         min-width: 30px;
      }
   }

   }
   
}




