

<div id="courses-container" class="courses-container">
   <div class = "heading" id = "courses-heading">
      <h1>De vakken</h1>
      <h6>Wat kunnen wij?</h6>
   </div>
<div class = "courses" *ngFor = "let course of courses; let index = index" >
   <div class = "inhoud">
      <i class = "iconify" [attr.data-icon] = courses[index].icon data-inline= "false"></i>
      
      <p class = "description">{{courses[index].description}}</p>
   </div>
</div>
