<div class = "navigation">
    
    <a class="display" (click)="changeDisplay()">{{linkText}}</a>
    <a [style.display]="displayClass" routerLink = "" (click)="goToHome()"><h3>Home</h3></a>
    <a [style.display]="displayClass" routerLink = "" (click)="goToDescription()"><h3>Description</h3></a>
    <a [style.display]="displayClass" routerLink = "" (click)="goToCourses()"><h3>Courses</h3></a>
    <a [style.display]="displayClass" routerLink = "" (click)="goToStudents()"><h3>Students</h3></a>
    <a [style.display]="displayClass" routerLink = "" (click)="goToContact()"><h3>Contact</h3></a>
</div>