@import '../../styles.scss';
*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}



.navigation { 
    width: 30vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: flex-end;
    

   

    a{
        content: "";
        background-color: white;
        box-shadow: inset 0px 0px 5px $color-purple;
        color:black;
        border:1px solid black;
        padding:auto;
        border-radius: 5px;
        display: flex;
        text-decoration: none;
        width: 100%;
        height: 5vh;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
    
    a:hover{
        box-shadow: inset 0px 0px 20px $color-purple;
        
    }

    a.display{
        max-width: 20%; 
        min-width: fit-content;

               
    }
    a.display:hover{
        box-shadow: inset 0px 0px 5px $color-purple;
    }
}