@import '../../styles.scss';

$positionX:0;
$positionY:0;

:host{
    width: 100%;
    height: 100%;
}
.contact-form{
    
    text-align: center;
    align-items: center;
    justify-content: center;
   
    .bouncing-balls{
        .circle{
            background-color: orange;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            animation: bounce 5s infinite;
        }

        @keyframes bounce{
            0%{
                position: relative;
                transform: skew(positionX,positionY);
                
            }
        }
    }
    
  

    form{
        width: 50%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        
        label{
            text-align: left;
            margin-top: 10px;
        }
        input{
            margin-bottom: 10px;
            border-radius: 5px;
            height: 40px;

        }
        
        .submit{
            width: fit-content;
            padding:5px 10px;
            margin: 5px auto;
            background-color: $color-orange;
        }
    }
}
