<div class = "contact-form" id="contact-form">
   <div class="bouncing-balls">
      <div class="circle"></div>
      <div class="circle"></div>
   </div>

   <div class = "heading" id = "contact-heading">
      <h1>Titel contact</h1>
      <h6>subtitel contact</h6>
   </div>
   <form [formGroup]="myForm" (ngSubmit)="sendForm()">

      <label for = "name"><h3>Naam:</h3></label>
      <input type="text" id = "name" name = "name" placeholder = "Vul hier je naam in" required formControlName="name">
      
      <label for = "companyName"><h3>Bedrijfsnaam:</h3></label>
      <input type = "text" id = "companyName" name = "companyName" placeholder = "Vul hier de bedrijfsnaam in" formControlName="companyName">
      
      <label for = "email"><h3>Email:</h3></label>
      <input type = "email"  id = "email" name = "email" placeholder = "Vul hier je e-mailadres in" formControlName="email">
      
      <label for = "subject"><h3>Commentaar:</h3></label>
      <textarea name = "subject" id = "subject" name = "subject" cols = "10" rows = "10" formControlName="subject"></textarea>
      <input class="submit" [disabled]="myForm.invalid" type="submit">
   </form>
</div>
