header{
    height: 100vh;
    width: 100%;
}
nav{
    z-index: 1;
    position:fixed;
    top:5%;
    right: 8%;
}
main{
    width: 100%;
    padding: 0 5%;
    padding-top: 150px;
}
footer{
    clear: both;
}
