<nav>
    <app-navigatie></app-navigatie>
</nav>
<header id="welcome">
    <app-header></app-header>
</header>

<main id="main">
    <router-outlet></router-outlet>
</main>

<footer>
    <app-footer></app-footer>
</footer>
