<div class = "students" id="students">
      <div class = "heading" id = "students-heading">
            <h1>De studenten</h1>
            <h6>Wie zijn wij?</h6>
         </div>

      <div class = "grid">
            <div class = "student" *ngFor = "let student of students; let index = index" >
   
                  <a href = "https://en.wikipedia.org/">
      
                        <img [src] = "students[index].img" class = "student-img">
                        <h2 class = "student-naam"> {{students[index].name}} </h2>
      
                  </a>
                  <div class = "link-preview">
                        <iframe src = "https://en.wikipedia.org/"  scrolling = "no" frameborder = "0" height = "300px" width = "500px"></iframe>
                  </div>

            </div>

      </div>

</div>
