@import '../../styles.scss';

.students{
   width: 90%;
   margin: 0 auto;
   min-height: 100vh;
   .heading {
      margin-bottom: 15px;
   }

   .grid {
      width: 100%;
      max-width: 1000px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
      grid-template-rows: auto;
      grid-gap: 30px;
      align-items: center;
      margin: 20px auto;
      
      
      .student {
         position: relative;
         min-width: 200px;
         text-align: center;
         height: fit-content;
         padding: 20px;
         border-left: 5px solid $color-purple;
         box-shadow:   5px 5px 10px ,
                        5px 5px 10px ;
         
         cursor: pointer;
         border-radius: 5px;
         margin:10px auto; 

         a{
            width: fit-content;
            height: fit-content;
         }

         h2 {
            color: black;
            text-align: center;
            font-size: 1.5rem;
            justify-items: center;
            text-decoration: none;           
         }

         img {
            max-height: 220px;
            max-width: 100%;
            border-radius: 10px;
            margin: 0 auto;
         }

         .link-preview {
            position: absolute;
            display:none;
            width:100%;
            height:fit-content;
            top: 20px;
            left: 200px;
         }

         a:hover + .link-preview,.link-preview:hover {
            display:block;
            z-index: 2;
         }
      }      
   }
}



.student:hover {
   
   img {
      opacity: 80%; 
   }
}

@media only screen and(min-width:260px){
   .link-preview{
      position: absolute;
      top:0;
      left:0;
   }
}

@media only screen and(min-width:520px){
   
   .student:nth-child(2n){
      .link-preview {
         left: -200px;
      }
   } 
}

@media only screen and(min-width:770px){

   .student:nth-child(3n){
      .link-preview {
         left: -200px;
      }
   }
}

@media only screen and(min-width:1040px){

// iframe {
//    // width: 200px;
//    // height: 250px;
// }

@media only screen and (max-width: 370px) {
   #students-heading {
      
      h1 {
         font-size: 35px;
   }
   
}
}