<div id="description-content" class = "description-content">
  
   <h1>Titel Description</h1>
   <h6>subtitel Description</h6>
  
   <div class="aboutstudents" id="description-box">
      <h2>Wie zijn wij</h2>
      <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea nulla ipsa deleniti. Iste reprehenderit aut esse! Sunt recusandae repellat, deserunt alias, fugiat, ut libero cupiditate excepturi doloribus nihil odit. Fuga?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ad amet quae eius et nobis, voluptas cupiditate ullam quaerat sapiente modi inventore delectus provident quas nulla, quod ab illum quam!Lorem
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae rerum sed placeat minima. Deserunt quam, nam obcaecati porro, consequuntur minima earum quasi tempore asperiores odio exercitationem tenetur. Nihil, quos quia!Lorem
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur perferendis vitae voluptatum vero odio, libero molestiae. Asperiores ullam molestiae expedita debitis odit, optio suscipit alias quos maiores quo. Adipisci, pariatur!
      </p>
   </div>

   <div class="about-education" id="description-box">
      <h2>Over de opleiding</h2>
      <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea nulla ipsa deleniti. Iste reprehenderit aut esse! Sunt recusandae repellat, deserunt alias, fugiat, ut libero cupiditate excepturi doloribus nihil odit. Fuga?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ad amet quae eius et nobis, voluptas cupiditate ullam quaerat sapiente modi inventore delectus provident quas nulla, quod ab illum quam!Lorem
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae rerum sed placeat minima. Deserunt quam, nam obcaecati porro, consequuntur minima earum quasi tempore asperiores odio exercitationem tenetur. Nihil, quos quia!Lorem
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur perferendis vitae voluptatum vero odio, libero molestiae. Asperiores ullam molestiae expedita debitis odit, optio suscipit alias quos maiores quo. Adipisci, pariatur!
      </p>
   </div>

   <div class="contact right" id="description-box">
      <h2>Vragen?</h2>
      <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea nulla ipsa deleniti. Iste reprehenderit aut esse! Sunt recusandae repellat, deserunt alias, fugiat, ut libero cupiditate excepturi doloribus nihil odit. Fuga?Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ad amet quae eius et nobis, voluptas cupiditate ullam quaerat sapiente modi inventore delectus provident quas nulla, quod ab illum quam!Lorem
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae rerum sed placeat minima. Deserunt quam, nam obcaecati porro, consequuntur minima earum quasi tempore asperiores odio exercitationem tenetur. Nihil, quos quia!Lorem
         Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur perferendis vitae voluptatum vero odio, libero molestiae. Asperiores ullam molestiae expedita debitis odit, optio suscipit alias quos maiores quo. Adipisci, pariatur!
      </p>
   </div>
</div>
