:host{
    width: 100%;
    height: 100%;
    
}
.description-content{

    width: 100%;
    overflow: auto;
    
    #description-box{
        padding: 10px;
        position: relative;
        margin: 50px;
        float: left;
        clear: both;
        width: 60%;
        box-shadow: 5px 5px 10px;
        

        h2{
            color:orange
        }
    }
    #description-box:nth-of-type(2n){
        float: right;
    }
}