@import url(//fonts.googleapis.com/css?family=Quicksand);

$color-purple: #1F145D;
$color-orange: #FF7900;
$color-grey: #616365;
$color-white: #FFFFFF;
$color-gradient: linear-gradient(to left, $color-orange, $color-purple);

:export{
    white: $color-white;
    purple: $color-purple;
    grey: $color-grey;
    orange: $color-orange;

}


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 
body{
    width: 100vw;
    height: fit-content;
    padding:0;
    margin: 0;
}

h1 {
    font-family: 'Quicksand';
    font-size: 48px;
    line-height: 64px;
    font-weight: 500;
}
h6 {
    font-family: 'Quicksand';
    font-size: 20px;
}
h2 {
    font-family: 'Quicksand';
}


